.profile{
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;
}
body{
    text-align: center;
    margin: 0;
    padding-top: 800px;
}
#bio{
    padding: 50px;
    text-align: center;
    font-size: 42px;
        
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
p{
   max-width: 400px;
    margin: 25px auto;
    font-size: 17px;
    height: 1.3;
}
#welcome{
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: aliceblue;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.83;
   background-image: linear-gradient(to bottom right, red, yellow);
    display: table;
    width: 100%;
    height: 100%;